.container {
    position: relative;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden; 
}

.container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/sand-background.jpg');
    background-size: cover;
    background-position: center;
    transform: scaleY(-1); 
    z-index: -1; 
}

.polygon {
    position: absolute; 
    top: 10%;
    left: 0; 
    margin: 0; 
    padding: 0; 
    width: 80%; 
    height: 15%; 
    background-color: rgba(152, 109, 58, 0.62); 
    clip-path: polygon(0 0, 50% 0, 60% 100%, 0 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-left: 5%; 
    box-sizing: border-box;
    z-index: 1; 
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 3rem; 
    color: white;
    z-index: 1; 
}

.appointmentsContainer {
    flex: 1;
    display: flex;
    justify-content: space-evenly; 
    align-items: center; 
    margin-top: 11rem;
    width: 80%; 
    z-index: 1; 
}

.navigationButtons {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    width: 100%;
    z-index: 1;
    margin-bottom: 3rem;
}

.navButton {
    font-family: 'Montserrat', sans-serif; 
    font-size: 1rem; 
    width: 8rem;
    color: white; 
    background-color: #000; 
    border: none; 
    padding: 10px 20px; 
    margin: 10px;
    cursor: pointer; 
    transition: background-color 0.3s; 
}

.navButton:hover {
    background-color: gray;
}

.navButton:disabled {
    cursor: not-allowed;
    opacity: 0.7;
    background-color: #333;
}

.noAppointments {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    text-align: center;
}

.appointmentButton {
    position:absolute;
    font-family: 'Montserrat', sans-serif; 
    font-size: 1rem; 
    width: 15rem;
    color: white; 
    background-color: #000; 
    border: none; 
    padding: 1rem;
    cursor: pointer; 
    transition: background-color 0.3s; 
    left: 70%;
    top: 15%
}